.logo{
    padding:20px 30px;
    width: 85px;
    height: fit-content;
}

.logo img{
    width:100%
} 

body{
    margin:0px;
    background-color: whitesmoke;
}
/* header{
    background-color: white ;
} */

.headerhandel{
    background-color: white ;
    max-width: 1290px;
    margin: 0 auto;
    display:flex;
    display:grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;

}

a{
    text-decoration-line: none;
}

.topic{
    display:flex; 
    justify-content: space-between; 
    padding-right: 30px;    
}
main{
    margin-top:50px;
}

main,p{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main img{
    width:100%;
}

div p{
    font-size: 30px;
}

div1, div2, div3, div4, div5  p{
    font-size: 50px;
    font-weight: bold;
    color:rgb(83, 52, 9);
    padding-top: 50px;

}
div1, div2, div3, div4, div5{
    margin-top: 100px;
    max-width: 1290px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
.go_to_top{
    text-align: center;
    margin-left: 900px;
    margin-top: 30px;
    font-size: x-large;
    text-decoration: underline;
}

@media(max-width:1040px){
    .headerhandel{
        font-size: 20px;
    }
    div p{
    font-size: 20px;
    }
    .go_to_top{
        margin-left: 600px;
        font-size:smaller;
    }
    div1, div2, div3, div4, div5  p{
        font-size: 30px;
    }
    main img{
    width:100%;
    }
    
}


@media(max-width:750px){
    .headerhandel{
        font-size: 15px;
    }
    div p{
    font-size: 15px;
    }
    .go_to_top{
        margin-left: 400px;
        font-size:smaller;
    }
    div1, div2, div3, div4, div5  p{
        font-size: 15px;
    }
    main img{
    width:100%;
    }
}


